<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="path">./logs</Property>
		<Property name="pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n</Property>
		<Property name="CONNECTION_STRING">${bundle:application:spring.datasource.url}
		</Property>
		<Property name="DRIVER_CLASS">${bundle:application:spring.datasource.driverClassName}
		</Property>
		<Property name="USERNAME">${bundle:application:spring.datasource.username}
		</Property>
		<Property name="PASSWORD">${bundle:application:spring.datasource.password}
		</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="FileRolling"
			fileName="${path}/rolling.log"
			filePattern="${path}/cron-based-logs/%d{yyyy-MM-dd-hh-mm}-%i.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<CronTriggeringPolicy
					schedule="*/1 * * * * ? *" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>
		<JDBC name="Database" tableName="application_log">
			<DriverManager connectionString="${CONNECTION_STRING}"
				driverClassName="${DRIVER_CLASS}" userName="${USERNAME}"
				password="${PASSWORD}" />
			<Column name="event_date" isEventTimestamp="true" />
			<Column name="level" pattern="%level" />
			<Column name="logger" pattern="%logger" />
			<Column name="message" pattern="%message" />
			<Column name="exception" pattern="%ex{full}" />
		</JDBC>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileRolling" />
		</Root>
		<Logger name="com.dovetail.logserver" level="info">
			<AppenderRef ref="Database" />
		</Logger>
	</Loggers>
</Configuration>